@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

body.no-scroll {
  overflow: hidden;
}

h1, h2, h3 {
  font-family: "Silkscreen", sans-serif;
  color: #ff4d4d;
  margin-bottom: 1rem;
}

h3 {
  padding: 1rem; 
  background-color: #1a1a1a;
}

a {
  color: #ff9999;
  text-decoration: underline;
}

p, li {
  font-size: 1rem;
  margin-bottom: 1rem;
}

nav {
  margin-bottom: 2rem;
}

.screenshot {
  margin: 2rem 0;
  border: 2px solid #444;
  border-radius: 8px;
  overflow: hidden;
  height: 50vh;
}

.screenshot:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 8px#444;
}

.screenshot img {
  width: 100%;
  height: auto;
  display: contains;
}

.section {
  margin-bottom: 3rem;
}

.image-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}

.image-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul {
  padding-left: 1.5rem;
}

.lightbox {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 20px 0;
}

.lightbox-img {
  max-width: 90vw;
  max-height: none;
  height: auto;
  width: auto;
  border-radius: 8px;
  border: 5px solid #fff;
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}


